{% extends "main.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-6">
        <h2>Categories</h2>
        <ul class="list-group">
            {% for e in categories %}
            {% if e == selectedCat %}
            <li class="list-group-item disabled">
            {% else %}
            <li class="list-group-item">
            {% endif %}
                <span class="badge">{{itemCounter(e)}}</span>
                <a href="{{url_for('showCatalogItems', catId=e.name)}}">{{e.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>


    <div class="col-sm-6">
        <h2>
            {{selectedCat.name}} Items

            {% if numItems == 1 %}
            ({{numItems}} item)
            {% else %}
            ({{numItems}} items)
            {% endif %}
        </h2>
        <div class="items">
            <ul class="list-group">
                {% for e in selectedItems %}
                    <li class="list-group-item">
                        <a href="{{url_for('showDescription', itemId=e.name, catId=selectedCat.name)}}">{{e.name}}</a>
                    </li>
                {% endfor %}
            </ul>
            <br>
            <a href="/category/{{selectedCat.name}}/delete">Click to Delete</a>
        </div>
    </div>
</div>

{% endblock %}
