<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>DevShare Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Test</title>
    <meta name="description" content="Logging into DevShare">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <link href="{{ url_for('static', filename='css/loginpagestyle.css') }}" rel="stylesheet">

</head>

<body>

    <!------------ Thanks Daniel Almeida for the reference  ----------->
    <!-- https://dribbble.com/shots/4027518-Login-screen-interaction -->
    <!-- Credit to Jose Rossario for the Login Page Layout -->

    <div class="login-wrapper">
        <div class="login-left">
            <img src="{{ url_for('static', filename='img/code.jpg') }}">
            <div class="h1">Login to DevShare</div>
        </div>

        <div class="login-right">
            <div class="login-boxed">
                <div class="h2">
                    <strong>
                        Sign In with Google
                    </strong>
                </div>

                <p class="divider">
                    <span class="divider"></span>
                </p>

                <div id="signInButton" class="col-sm-4">
                    <span class="g-signin" data-scope="openid email" data-clientid="173875917603-d9pnthbohkars23b0dlep2vns6n8hk9a.apps.googleusercontent.com"
                        data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback"
                        data-approvalprompt="force">
                    </span>
                </div>
                
            </div>
            <div id="result" class="login-result"></div>

        </div>

    </div>

    <script src="{{ url_for('static', filename='js/login_page.js') }}"></script>
    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
                $('#signinButton').attr('style', 'display: none');
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: authResult['code'],
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        if (result) {
                            $('#result').html('Login Successful!</br>' + result + '<br>')
                            setTimeout(function () {
                                window.location.href = "/";
                            }, 3000);
                        } else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                        } else {
                            $('#result').html(
                                'Failed to make a server-side call. Check your configuration and console.'
                            );
                        }
                    }

                });
            }
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>

</html>