{% extends 'index.html' %}
{% block body %}
<div class="card">
    <img class="card-img-top" alt="Card image cap" src="/static/img/code.jpg" />
    <div class="card-body">
        <h4 class="card-title">All Items</h4>
        <p class="card-text">Below are all items posted.</p>
        <a href="/catalog/items/new">Post a New Item</a>
        <br>
        <a href="/catalog/items/delete">Delete an Item</a>
    </div>
    <ul class="list-group list-group-flush">
        {% for i in items %}
            <li class="list-group-item"><a href="/catalog/{{i.category_id}}/{{i.name}}/">{{i.name}}</a></li>         
        {% endfor %}
    </ul>
    <div class="card-body">
        <a href="/" class="card-link">Back to Home</a>
    </div>
</div>
{% endblock %}