{% extends 'index.html' %}
{% block body %}
<div class="card">
    <img class="card-img-top" alt="Card image cap" src="/static/img/code.jpg" />
    <div class="card-body">
        <h4 class="card-title">Categories</h4>
        <p class="card-text">Below are all categories posted.</p>
    </div>
    <ul class="list-group list-group-flush">
        {% for category in categories %}
            <li class="list-group-item"><a href="/catalog/{{category}}/">{{category}}</a></li>         
        {% endfor %}
    </ul>
    <div class="card-body">
        <a href="/" class="card-link">Back to Home</a>
    </div>
</div>
{% endblock %}
